<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="liu97,刘传富,blog,博客,个人网站">
	<meta name="author" content="刘传富">
	<meta name="description" content="刘传富的个人网站">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
	<title>blogs | liu97</title>
	<link rel="stylesheet" href="./css/reset.css">
	<link rel="stylesheet" href="./font/css/font-awesome.min.css">
	<link rel="stylesheet" href="./css/common.css">
	<link rel="stylesheet" href="./css/blogs.css">
</head>
<body>
	<div id="body_warpper">
        <%- include('./fix_down_nav',{}) %>
        <%- include('./header',{tags}) %>
		<main id="blogs_main">
			<% articles.forEach(function(item, index){ %>
				<article class="blogs_main_article">
					<article class="blogs_main_article_article">
						<h2 class="blogs_main_article_article_h2"><a href="/article?id=<%=item.article_id%>" class="blogs_main_article_article_h2_a"><%=item.title%></a></h2>
						<a href="/article?id=<%=item.article_id%>" class="blogs_main_article_article_a"><img src="<%=item.img_path%>" alt="博客图片" class="blogs_main_article_article_img"></a>
						<p class="blogs_main_article_article_p"><%=item.article_content%></p>
					</article>
					<aside class="blogs_main_article_aside">
						<i class="fa fa-calendar-check-o blogs_main_article_aside_i"><%-item.upload_time.split(/\/|\\/)[2]%></i>
						<span class="blogs_main_article_aside_span blogs_main_article_aside_span1"><%-item.upload_time.split(/\/|\\/)[1]%></span>
						<span class="blogs_main_article_aside_span blogs_main_article_aside_span2"><%-item.upload_time.split(/\/|\\/)[0]%></span>
						<div class="blogs_main_article_aside_div">
							<i class="fa fa-thumbs-o-up blogs_main_article_aside_div_i"><%=item.praise%></i>
						</div>
					</aside>
				</article>
			<% }); %>
			<footer class="main_footer">
				<div class="paging_previous paging_div">
					<a href="#" class="paging_a" id="first">首页</a>
					<a href="#" class="paging_a" id="previous">上一页</a>		
				</div>
				<div class="paging_main paging_div">
					<% for(var i = 1; i <= article_paging.number; i++){ %>
						<a href="#" class="paging_a turn_a"><%= i %></a>
					<% }; %>
				</div>
				<div class="paging_next paging_div">
					<a href="#" class="paging_a" id="next">下一页</a>
					<a href="#" class="paging_a" id="last">尾页</a>
				</div>			
			</footer>
		</main>
		<%- include('./fix_up',{id:'blogs_main'}) %>
	</div>
	<footer class="common_footer article_footer">Design by 刘传富</footer>
</body>
<script src="./js/plugins/jquery-3.3.1.js"></script>
<script src="./js/common.js"></script>
<script>
	var article_paging = <%- JSON.stringify(article_paging) %>
	set_like(<%- JSON.stringify(articles) %>)
	function set_like(data){
		var likes = $(".blogs_main_article_aside_div_i");
		data.forEach(function(item,index){
			likes.eq(index).click(function(e){
				like_article({
					article_id:item.article_id,
					like: $(this),
					$event: e
				});
			})
		})
	}
</script>
<script src="./js/blogs.js"></script>
</html>